@import "tailwindcss";

body {
  font-family: "DM Sans", system-ui, sans-serif;
  color: #78716c;
  background-color: var(--bg);
}

#root {
  min-height: screen-height;
}

@theme {
  --font-dm: "DM Sans", sans-serif;
  --font-instrument: "Instrument Serif", serif;
  --font-jetbrains: "JetBrains Mono", monospace;

  /** Colors */
  --color-bg: var(--bg);
  --color-font-color-grey: var(--mygrey);
}

:root {
  /* Ejemplos  */
  --bg: #fafaf8;
  --mygrey: #78716c;
}
